.app{
    display: flex;
}

.columnCount, .rowCount{
    width: min-content;
}

.rowCountInput, .columnCountInput{
    text-align: center;
}

.Matrix{
    display: inline;
    margin-left: 3%;
}

.inline{
    display: flex;
}

.matrix{
    width: min-content;
    display: inline;
}

.row{
    width: min-content;
    display: flex;
}

.goods{
    padding-left: 20px;
    width: min-content;
}

.needs{
    width: min-content;
    height: min-content;
    display: flex;
    padding-top: 15px;
}

.solveButton{
    width: 70px;
    height: 30px;
    margin-top: 3%;
}

.elem{
    width: 40px;
    height: 40px;
    text-align: center;
}

.resultMatrix{
    margin-left: 3%;
}

.functionResult{
    display: flex;
}
