.columnCount, .rowCount{
    width: min-content;
    padding-left: 40%;
}

.rowCountInput, .columnCountInput{
    text-align: center;
}

.inline{
    display: flex;
    padding-left: 40%;
}

.matrix{
    width: min-content;
    padding-top: 5%;
}

.row{
    width: min-content;
    display: flex;
}

.goods{
    padding-left: 20px;
    padding-top: 5%;
    width: min-content;
}

.needs{
    width: min-content;
    height: min-content;
    display: flex;
    padding-top: 15px;
    padding-left: 40%;
}

.elem{
    width: 40px;
    height: 40px;
    text-align: center;
}
/*
.needs{
    display: flex;
    margin-left: -905px;
    padding-top: 100px;
}*/
