.columnCount, .rowCount{
    width: min-content;
    padding-left: 40%;
}

.columnCount{
    padding-top: 1%;
}

.rowCount{
    padding-top: 2%;
}

.rowCountInput, .columnCountInput{
    text-align: center;
}

.inline{
    display: flex;
    padding-left: 40%;
}

.matrix{
    width: min-content;
    padding-top: 3%;
}

.row{
    width: min-content;
    display: flex;
}

.goods{
    padding-left: 20px;
    padding-top: 3%;
    width: min-content;
}

.needs{
    width: min-content;
    height: min-content;
    display: flex;
    padding-top: 15px;
    padding-left: 40%;
}

.solveButton{
    width: 70px;
    height: 30px;
    margin-top: 1%;
    margin-right: 16%;
}

.elem{
    width: 40px;
    height: 40px;
    text-align: center;
}
